//  ------------------------------------------------------------------------------
//  ----------------------------- CSS Files ------------------------------
//  ------------------------------------------------------------------------------

.grid {
  max-width: $wrapperWidth;
  margin: 0 calc($gridGap / -2);
  width: calc(100% - $gridGap);
  position: relative;
  left: 50%;
  transform: translateX(calc(-50% + $gridGap / 2));

  @media (max-width: $breakpoint-xl) {
    max-width: $wrapperWidth_xl;
  }

  @media (max-width: $breakpoint-lg) {
    max-width: $wrapperWidth_lg;
  }

  @media (max-width: $breakpoint-md) {
    max-width: $wrapperWidth_md;
  }

  @media (max-width: $breakpoint-sm) {
    max-width: $wrapperWidth_sm;
  }

  @media (max-width: $breakpoint-xsm) {
    max-width: $wrapperWidth_xsm;
    left: unset;
    transform: unset;
    margin: 0 auto;
    width: 100%;
  }

  &__wrapper {
    display: grid;
    grid-template-columns: repeat($gridColumns, 1fr);
    column-gap: $gridGap;
    padding-left: calc($gridGap / 2);
    padding-right: calc($gridGap / 2);
    position: relative;

    @media (max-width: $breakpoint-xl) {
      grid-template-columns: repeat($gridColumns_xl, 1fr);
    }

    @media (max-width: $breakpoint-lg) {
      grid-template-columns: repeat($gridColumns_lg, 1fr);
    }

    @media (max-width: $breakpoint-md) {
      grid-template-columns: repeat($gridColumns_md, 1fr);
    }

    @media (max-width: $breakpoint-sm) {
      grid-template-columns: repeat($gridColumns_sm, 1fr);
    }

    @media (max-width: $breakpoint-xsm) {
      grid-template-columns: repeat($gridColumns_xsm, 1fr);
    }
  }

  &__full-column {
    display: flex;
    flex-direction: column;
    padding-left: calc($gridGap / 2);
    padding-right: calc($gridGap / 2);
    position: relative;
  }

  &--nocenter {
    left: 0;
    transform: none;
  }
}

.grid-gap {
  padding: 0 calc($gridGap / 2);
}