<div class="grid-layout">
  <div class="grid-layout__ctr">
    <div class="grid-layout__wrapper">
      <div class="grid-layout__block"></div>
      <div class="grid-layout__block"></div>
      <div class="grid-layout__block"></div>
      <div class="grid-layout__block"></div>
      <div class="grid-layout__block"></div>
      <div class="grid-layout__block"></div>
      <div class="grid-layout__block"></div>
      <div class="grid-layout__block"></div>
      <div class="grid-layout__block"></div>
      <div class="grid-layout__block"></div>
      <div class="grid-layout__block"></div>
      <div class="grid-layout__block"></div>
    </div>
  </div>
</div>